header{
    /* padding: 20px; */
    background-image: url(../images/hero-3-cover.svg);
    background-size: cover;
    width: 100%;
    /* height: 100vh; */
}
header .flex{
    display: flex;
    align-items: center;
    flex-wrap:nowrap;
    justify-content: space-around;
}
header .brand-name{
    font-weight: bolder;
    font-size: 30px;
}
header ul li{
    display: inline;
    margin-left: 25px;
    color: #737373
}
header .flex .loging{
    display: inline;
    margin-left: 20px;
}
header .flex .loging span{
    color: #fc724d;

}
header .flex .loging button{
    background-color: #fc724d;
    color: white;
    padding: 10px;
    border: 0;
    margin-left: 10px
}